{{#elems}}
<tr class="adm-user-row" data-entity-id="{{id}}">
    <td>
        <div class="adm-user-cell">
            <div>
                <a href="/exercise/{{id}}"><div class="adm-user-name">{{title}}</div></a>
                <div class="adm-user-id">ID #{{id}}</div>
            </div>
        </div>
    </td>
    <td class="adm-email">{{exerciseList.title}}</td>
    <td class="text-center adm-stat-cell">{{owner.name}}</td>
    <td>
        <button
            class="adm-delete-btn"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#delModalExercise{{id}}"
            title="Delete {{title}}"><i class="bi bi-trash3"></i></button>
    </td>
</tr>
{{/elems}}